.add-expense {
	max-width: 50%;
	margin: auto;
}

@media only screen and (max-widt: 1024px) {
	.add-expense {
		width: 90%;
	}
}

@media only screen and (max-widt: 512px) {
	.add-expense {
		width: 100%;
	}
}
